@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
}

#machine-body {
  background-color: #bbb;
  /*background-image: linear-gradient(*/
  /*  to right,*/
  /*  #ed0000 0%,*/
  /*  rgb(239, 73, 73) 30%,*/
  /*  #f8caca 50%,*/
  /*  rgb(239, 73, 73) 70%,*/
  /*  #ed0000 100%*/
  /*);*/
  background-image: url(https://t4.ftcdn.net/jpg/01/90/58/67/360_F_190586770_qRbJO1vc8fESKJTxgYVZ26iXdoHFFJPw.jpg);

  padding: 1.5em;
  /*box-shadow: 0 0 3em #999;*/
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 50px;
}

#framework-central {
  background-color: #ccc;
  /*background-image: linear-gradient(*/
  /*  135deg,*/
  /*  #ed0000 0%,*/
  /*  rgb(239, 73, 73) 50%,*/
  /*  #ed0000 100%*/
  /*);*/
  background-image: url(https://t4.ftcdn.net/jpg/01/78/90/85/360_F_178908505_x763ltB61U4jfekzDFtrT7EW2YeccgSQ.jpg);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8caca', endColorstr='#bbbbbb', GradientType=1);
  position: relative;
  text-align: left;
  padding: 3em 3em;
}
.arrow {
  width: 41px;
}
.original-image {
  display: none;
  position: relative;
  width: 241px;
  height: 241px;
  background-size: cover;
  animation: zoomInAndOut 4s linear forwards;
}
@keyframes zoomInAndOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.slots {
  position: relative;
  width: 260px !important;
  height: auto;
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
  background: #444444;
}

.slots div {
  position: relative;
  border: 1px solid black;
  width: 80px;
  height: 240px;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: 0 0;
  border-radius: 3px;
  overflow: hidden;
}

.slots div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4) 0%,
    transparent 30%,
    transparent 70%,
    rgba(0, 0, 0, 0.4) 100%
  );
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.reel-1 {
  background-image: url(https://image.emails.sonymusicfans.com/lib/fe9212747567007476/m/1/a1613350-dc3d-42eb-923a-7c28fee73fb2.png);
  /* background-image: url(https://image.emails.sonymusicfans.com/lib/fe9212747567007476/m/1/9c118697-6e9b-4862-a52a-238b16a71179.png); */
}
.reel-2 {
  background-image: url(https://image.emails.sonymusicfans.com/lib/fe9212747567007476/m/1/a887f51c-e11b-4afb-9189-edb3d682c47d.png);
  /* background-image: url(https://image.emails.sonymusicfans.com/lib/fe9212747567007476/m/1/f3fac8aa-47d7-46c7-92eb-82f013efce9a.png); */
}
.reel-3 {
  background-image: url(https://image.emails.sonymusicfans.com/lib/fe9212747567007476/m/1/3470caae-8639-4a30-a719-9f248be39f2b.png);
  /* background-image: url(https://image.emails.sonymusicfans.com/lib/fe9212747567007476/m/1/e3dc1bf7-7f89-4438-a3ff-c5f54c3b1b1b.png); */
}

@keyframes win {
  0% {
    background: linear-gradient(45deg, orange 0%, yellow 100%);
    box-shadow: 0 0 80px orange;
  }
  100% {
    background: linear-gradient(45deg, grey 0%, #444444 100%);
    box-shadow: -2px 2px 3px rgba(black, 0.3);
  }
}

.win {
  animation: win 200ms steps(2, end) infinite;
}

@keyframes jackpot-win {
  0% {
    color: #d3342e;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    color: #000000cb;
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.2);
  }
}

.jackpot-win {
  animation: jackpot-win 200ms steps(2, end) infinite;
}

/* LEVER */

#machine-lever {
  width: 6.5em;
  height: 36em;
  position: relative;
}

#machine-lever .lever-base {
  box-shadow: 0 0 3em #ccc;
  overflow: hidden;
  position: relative;
}

#machine-lever .lever-base-inner {
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(
    to bottom,
    #030303 0%,
    #292929 35%,
    #171717 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#888888', GradientType=0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#machine-lever > .lever-base.big {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 3.5em;
  height: 12em;
  position: absolute;
  bottom: 3em;
  left: 0;
}

#machine-lever > .lever-base.small {
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  width: 3em;
  height: 8em;
  position: absolute;
  bottom: 5em;
  left: 3.5em;
}

#lever-bar {
  height: 30em;
  width: 1.5em;
  background-color: #ccc;
  background-image: linear-gradient(
    to right,
    #a2a3a7 0%,
    #fefefe 35%,
    #888888 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#888888', GradientType=1);
  border-radius: 50%/3;
  box-shadow: 0 0 3em #ccc;
  position: absolute;
  bottom: 13em;
  left: 4em;
  z-index: 1;
}

#lever-ball {
  background-color: #ed0000;
  background-image: radial-gradient(
    circle at 2.5em 2em,
    rgb(236, 113, 113) 0%,
    #ed0000 100%
  );
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100, finishopacity=1, style=2);
  border-radius: 50%;
  cursor: pointer;
  width: 7em;
  height: 7em;
  box-shadow: 0 0 3em #ccc;
  position: relative;
  bottom: 11.5em;
  left: 1.2em;
  z-index: 2;
}

.clic {
  animation: clic 1500ms ease infinite;
}
.clic2 {
  animation: clic2 1500ms ease infinite;
}
.clic3 {
  animation: clic3 1500ms ease infinite;
}

@keyframes clic {
  0%,
  100% {
    background-color: #ed0000;
    background-image: radial-gradient(
      circle at 2.5em 2em,
      rgb(236, 113, 113) 0%,
      #ed0000 100%
    );
  }
  50% {
    background-color: #ea7d7d;
    background-image: radial-gradient(
      circle at 2.5em 2em,
      rgb(254, 212, 212) 0%,
      #ea7d7d 100%
    );
  }
}
@keyframes clic2 {
  0%,
  100% {
    background-color: #ccc;
    background-image: linear-gradient(
      to right,
      #888888 0%,
      #fefefe 35%,
      #888888 100%
    );
  }
  50% {
    background-color: #ccc;
    background-image: linear-gradient(
      to right,
      #b7b7b7 0%,
      #fefefe 35%,
      #b7b7b7 100%
    );
  }
}
@keyframes clic3 {
  0%,
  100% {
    background-color: #000000;
    background-image: linear-gradient(
      to bottom,
      #030303 0%,
      #292929 35%,
      #171717 100%
    );
  }
  50% {
    background-color: #3c3c3c;
    background-image: linear-gradient(
      to bottom,
      #606060 0%,
      #292929 35%,
      #606060 100%
    );
  }
}

.container {
  width: auto;
  height: 350px;
  box-shadow: 0 0 3em #999;
}

.slot-machine {
  height: 23%;
  width: 100%;
  display: grid;
  border-radius: var(--radius) var(--radius) 0 0;
}

.slot-machine-top {
  position: relative;
  width: auto;
  background: hsl(260deg, 100%, 15%);
  /*background-image: url(https://t4.ftcdn.net/jpg/01/90/58/67/360_F_190586770_qRbJO1vc8fESKJTxgYVZ26iXdoHFFJPw.jpg);*/
  /*background-image: url(https://img.freepik.com/premium-vector/blue-metal-technology-horizontal-background-with-polished-brushed-texture-chrome-silver-steel_109181-307.jpg);*/
  border-radius: var(--radius);
}

.bulb-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
}

.top-bulb {
  left: 5%;
  width: 90%;
  top: 0.5%;
}

.bottom-bulb {
  left: 5%;
  width: 90%;
  bottom: 0.5%;
}

.left-bulb {
  flex-direction: column;
  width: 5%;
  height: 100%;
  left: 0.5%;
}

.right-bulb {
  flex-direction: column;
  width: 5%;
  height: 100%;
  right: 0.5%;
}

.bulb {
  font-size: 11px;
  color: rgb(251, 187, 50);
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.machine-title {
  position: absolute;
  width: 90%;
  height: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Odor Mean Chey", serif;
  display: grid;
  place-content: center;
  text-align: center;
  /*color:#d3342e;*/
  color: #000000cb;
  font-size: 27px;
  line-height: 0.9;
  font-weight: bolder;
  letter-spacing: calc(1.5 * var(--length));
  border-radius: inherit;
  background: #222;
  /*text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);*/
}

.jackpot {
  text-shadow: calc(-0.2 * var(--length)) calc(-0.2 * var(--length))
      calc(1 * var(--length)) #fff,
    calc(0.2 * var(--length)) calc(0.2 * var(--length)) calc(1 * var(--length))
      #fff,
    0 0 calc(1 * var(--length)) #d3342e, 0 0 calc(2 * var(--length)) #d3342e,
    0 0 calc(3 * var(--length)) #d3342e, 0 0 calc(4 * var(--length)) #d3342e,
    0 0 calc(5 * var(--length)) #d3342e;
}
